.header {
    background-color: white !important;
}

.loginBlock {
    float: right;
    padding-top: 2%;  
}

.loginName {
    text-decoration: none;
    color: white;
    padding-right: 25px;
    font-size: 17px;

    margin: 0 5px 0;
    line-height: 20px;
}
