body {
  background-color: #f5f4f9;
}

.ant-layout-sider {
    background: none !important;
}

.site-layout-background {
    height: 100%;
}

.site-layout-background .ant-layout-sider-trigger {
    position: relative;
}